In [5]:
# ANSWER-1)
'''A ‘for’ loop in Python is used when you have a sequence of elements and you want to
execute a block of code for each element in the sequence.'''
name= ['vishal','arjun','pankaj']
for i in name :
    print(i)

vishal
arjun
pankaj

In [6]:
# ANSWER-1)
''' A while loop in Python is used when you want to keep executing a block of code as long
as a certain condition is true.'''
counter = 0 
while counter < 5 :
    print(counter)
    counter =counter + 1

0
1
2
3
4

In [1]:
# ANSWER-2)
add = 0
product = 1
for i in range(1,11):
    add = add + i
    product = product * i  
print(add)
print(product)

55
3628800

In [3]:
# ANSWER-2)
starting_point = 0
counter = 1
product = 1
while counter <= 10 :
    starting_point = starting_point + counter
    product =product * counter
    counter = counter +1
print(starting_point)
print(product)

55
3628800

In [8]:
# ANSWER-3)
unit = int(input('enter your meter unit :'))
if unit<=100:
    # charged = unit * 4.5
    print('your total electricity bill is: Rs.',(unit * 4.5)) 
elif unit>100 or unit<= 200:
    print('your total electricity bill is: Rs.',((unit-100)*6) +(100*4.5))
elif unit>200 or unit<=300:
    print('your total electricity bill is: Rs.',((unit-200)*10)+(100*6)+(100*4.5))
else :
    print('your total electricity bill is: Rs.',((unit-300)*20)+(100*10)+(100*6)+(100*4.5))

enter your meter unit : 310

your total electricity bill is: Rs. 1710.0

In [7]:
# ANSWER-4)
l = list(range(1,100))
l1 = []
for i in l :
    i = i*i*i
    if i % 4 == 0 or i % 5== 0 :
        
        l1.append(i)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192]

In [4]:
# ANSWER-5)
string = 'i want to become a data science'
vowels = ['a','e','i','o','u']
count_vowels = 0
for x in string :
    if x in vowels :
        count_vowels = count_vowels + 1
print(count_vowels)

12